@value index: "../../index.css";

@value base from index;

.sidebar {
    display: none;
    
}
@media screen and (min-width: base) {
    .sidebar {
        display: block;
        position: sticky;
        top: var(--header-height);
        border-inline-end: 1px solid #ccc;
        height: calc(100dvh - var(--header-height));
        min-width: 200px;
        flex: 0;
    }
}
