.title {
  display: flex;
  flex-direction: column;
}
.type {
  margin-block-start: 1rem;
  padding: 0;
  border: none;
  display: flex;
  gap: 0.5rem;
  & > div {
    display: flex;
    gap: 0.25rem;
  }
}
.content {
  margin-block-start: 1rem;
  display: flex;
  flex-direction: column;

  & > label {
    display: flex;
    flex-direction: column;
  }
  & textarea {
    height: 200px;
  }
}

.form {
  max-width: 600px;
  margin-inline: 0.5rem;
  & h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  & span {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  & textarea {
    margin-bottom: 20px;
  }
}
