.button {
  width: var(--button-width);
  height: var(--button-height);
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #1f75cb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #1068bf;
  }
}
