.post-content {
    padding: 0.5rem;
    position: relative;
    min-height: 200px;
    max-height: 600px;
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    gap: 0.5rem;

    & > img {
        object-fit: contain;
        height: 100%;
    }
}

.post {
}

.details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.title {
    font-size: 1.5rem;
}

.delete-btn {
    cursor: pointer;
    align-self: end;
    background-color: #bd3232;

    &:hover {
        background-color: #bf1e1e;
    }

    border: none;
    border-radius: 3px;
    width: 5rem;
    height: 2rem;
    color: white;
}