.header {
    height: var(--header-height);
    border-block-end: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
    margin-inline: 0.5rem;
}