.modal {
    margin: auto;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.form {
    display: flex;
    flex-direction: column;
    & > :not(:first-child) {
        margin-top: 0.5rem;
    }
}
.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}