@value index: "../../index.css";
@value base from index;

.container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    margin-top: 10px;
    border-radius: 6px;
    min-width: 250px;
    flex: 0;
    position: static;

}
@media screen and (min-width: base){
    /*.container {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    border: 1px solid yellow;*/
    /*    min-width: 250px;*/
    /*    flex: 0;*/
    /*    position: static;*/
    
    
    /*}*/
    .container {
        display: flex;
        flex-direction: column;
        min-width: 250px;
        flex: 0;
        position: sticky;
        top: calc(var(--header-height) + 10px);
        height: calc(100dvh - var(--header-height));

    }
}
